/* full override: we're not tracking changes to the docsy base file. */

$primary: #FE2C55;
$secondary: #22F5EE;
$dark: #000000;

a.privacyinnovation-link {
    color: #FE2C55;
}

a.privacyinnovation-link:hover {
    color: #fff;
}
