+++
title = "Privacy Innovation"
linkTitle = "PrivacyInnovation"

+++

{{< blocks/cover title="Privacy Innovation" subtitle="Advancing data privacy through cutting-edge technological advancements." image_anchor="top" height="full" color="dark" >}}
<p class="home-overview-btn-group">
    <a class="home-overview-btn" href="{{< relref "/docs" >}}">
    <span class="home-overview-btn-bg"></span>
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="home-overview-btn home-overview-btn-with-no-margin" target="_blank" href="https://github.com/tiktok-privacy-innovation">
        <span class="home-overview-btn-bg"></span>
        Github <i class="fab fa-github ml-2 "></i>
    </a>
</p>
<div class="home-overview-link-down">
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2 class="home-section-title">Why Privacy Innovation?</h2>
<p class="home-description">
    TikTok's Privacy Innovation is an open-source initiative dedicated to advancing data privacy through cutting-edge technological advancements and empowering privacy with advanced tech.
</p>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab" title="Open-Source" %}}
<div class="home-feature-item">
    The open source community is the 💗 heart of Privacy Innovation and fundamental to how we build software today.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Cutting-Edge" %}}
<div class="home-feature-item">
    We proactively seek out cutting-edge solutions to address privacy pain points for billions of our users on a global scale.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Privacy-Driven" %}}
<div class="home-feature-item">
    When we build products and features for our platform, we do so by keeping privacy in mind, building in privacy principles throughout the entire product development lifecycle.
</div>
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<h2 class="home-section-title home-section-title-projects">Projects</h2>
<div class="row top-hr">
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/tiktok-privacy-innovation/PrivacyGo">
            <h2>PrivacyGo</h2>
            <p>Synergistic fusion of privacy-enhancing technologies for enhanced privacy protection</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/tiktok-privacy-innovation/PETAce">
            <h2>PETAce</h2>
            <p>Privacy-Enhancing Technologies via Applied Cryptography Engineering</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/tiktok-privacy-innovation/Shadowgraphy">
            <h2>Shadowgraphy</h2>
            <p>A collection of cryptographic pseudonymization techniques</p>
        </a>
    </div>
</div>

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
<div class="home-quote">
    <div class="home-quote-text">
        "At TikTok, we proactively seek out cutting-edge solutions to address privacy pain points for billions of our users on a global scale. When we build products and features for our platform, we do so by keeping privacy in mind, building in privacy principles throughout the entire product development lifecycle. Through innovative and meticulous integration of PETs, we aim to achieve a synergistic outcome that effectively balances privacy, utility, and efficiency."
    </div>
    <div class="home-quote-author">
        Privacy Innovation @ TikTok
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title">Created by</h2>
<div class="row home-used-by-wrapper home-used-by-created">
    <a class="home-used-by-item" href="https://tiktok.com" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/tiktok.png" alt="tiktok logo">
    </a>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="row top-hr home-footer-links">
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Docs</div>
        <ul>
            <li><a href="{{< relref "/docs/privacygo">}}">PrivacyGo</a></li>
            <li><a href="{{< relref "/docs/petace">}}">PETAce</a></li>
            <li><a href="{{< relref "/docs/shadowgraphy">}}">Shadowgraphy</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Projects</div>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/tiktok-privacy-innovation/PrivacyGo">PrivacyGo</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/tiktok-privacy-innovation/PETAce">PETAce</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/tiktok-privacy-innovation/Shadowgraphy">Shadowgraphy</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Contact Us</div>
        <ul>
            <li><a href="mailto:privacyinnovation@tiktok.com">Email: privacyinnovation@tiktok.com</a></li>
        </ul>
    </div>
</div>
{{< /blocks/section >}}
