+++
title = "Privacy Innovation"
linkTitle = "PrivacyInnovation"

+++

{{< blocks/cover title="Privacy Innovation" subtitle="Advancing data privacy through cutting-edge technological advancements." image_anchor="top" height="full" color="dark" >}}
<p class="home-overview-btn-group">
    <a class="home-overview-btn" href="{{< relref "/docs" >}}">
    <span class="home-overview-btn-bg"></span>
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="home-overview-btn home-overview-btn-with-no-margin" target="_blank" href="https://github.com/tiktok-privacy-innovation">
        <span class="home-overview-btn-bg"></span>
        Github <i class="fab fa-github ml-2 "></i>
    </a>
</p>
<div class="home-overview-link-down">
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2 class="home-section-title">Why Privacy Innovation?</h2>
<p class="home-description">
    TikTok's Privacy Innovation is an open-source initiative dedicatted to advancing data privacy through cutting-edge technological advancements. Empowering privacy with advanced tech.
</p>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab" title="Open" %}}
<div class="home-feature-item">Fully open source, community neutral, compatible with the community open source ecology,
    pluggable components, Privacy Innovation components and other open source components can be integrated or replaced with each other.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Industry-standard" %}}
<div class="home-feature-item">Contains the components needed to build an enterprise-class cloud-native architecture,
    allowing users to focus more on business development, meet the current and future needs of user scenarios, and experience the refinement of large-scale scenarios.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Cloud Native" %}}
<div class="home-feature-item">Quickly build a cloud-native microservice system and develop more reliable, extensible and easy-to-maintain cloud-native applications.
</div>
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title home-section-title-projects">Projects</h2>
<div class="row top-hr">
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/tiktok-privacy-innovation/PrivacyGo">
            <h2>PrivacyGo</h2>
            <p>Synergistic fusion of privacy-enhancing technologies for enhanced privacy protection.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/tiktok-privacy-innovation/PETAce">
            <h2>PETAce</h2>
            <p>Privacy-Enhancing Technologies via Applied Cryptography Engineering.</p>
        </a>
    </div>
</div>

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
<div class="home-quote">
    <div class="home-quote-text">
        "Lorem Ipsum"
    </div>
    <div class="home-quote-author">
        TikTok
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title">Created by</h2>
<div class="row home-used-by-wrapper home-used-by-created">
    <a class="home-used-by-item" href="https://tiktok.com" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/tiktok.png" alt="tiktok logo">
    </a>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="row top-hr home-footer-links">
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Docs</div>
        <ul>
            <li><a href="{{< relref "/docs/privacygo">}}">PrivacyGo</a></li>
            <li><a href="{{< relref "/docs/petace">}}">PETAce</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Projects</div>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/tiktok-privacy-innovation/PrivacyGo">PrivacyGo</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/tiktok-privacy-innovation/PETAce">PETAce</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Contact Us</div>
        <ul>
            <li><a href="mailto:privacyinnovation@tiktok.com">Email: privacyinnovation@tiktok.com</a></li>
        </ul>
    </div>
</div>
{{< /blocks/section >}}
